<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <title>Content-Based Movie Recommender</title>
</head>
<body>
    <div class="header">
        <h1>Content-Based Movie Recommender</h1>
    </div>
    <p>To start, enter the name of a movie you enjoy.</p> 
    <form action="/content-result" method="POST">
        <input type="text" name="title" placeholder="Toy Story"/><br>
        <input type="submit" value="Find Me Recommendations!"/>
    </form>
</body>
</html>