<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <title>Welcome!</title>
</head>
<body>
    <div class="header">
        <h1>Welcome!</h1>
    </div>
    <p>Choose your recommender to start...</p>
    <a href="#">Conventional: hmm I'll take the safe path...</a><br>
    <a href="/image">Image-based: I won't mind some serendipity!</a>
</body>
</html>